# TypeScript
node_modules
coverage
coverage.json
typechain

# environment
.env
.env.mumbai
.env.goerli
.env.hardhat
.env.mainnet

# Hardhat files
cache
artifacts

# Deployments
deployments/*
!deployments/mainnet
!deployments/mumbai
!deployments/goerli

# OZ Upgrades
.openzeppelin/*
!.openzeppelin/goerli.json
!.openzeppelin/polygon-mumbai.json